<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I love the Cars</title>
    <!-- Include bootstrap CSS -->
    <link href="includes/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="includes/style.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: #800000">
    <header>      
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">   
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-road"> </span>CarAdiction</a>
                    
    
   
    
     <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <nav class="navbar-collapse collapse" role="navigation">
                <ul class="navbar-nav nav">
                    <li class=""><a href="#">Home</a></li>
                    <li><a href="#contenido">Contenido</a></li>
                    <li><a href="#comentarios">Comentarios</a></li>
                    <li> <a href="#footer ">Footer</a> </li>

                  
                
                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
            </nav>
  </div>
</nav>
    </header>
  
  
    

    

    <!-- Site banner -->
    <div class="banner" style="background-color: #800000">
        <div class="container">
            <h1>Cual es tu auto favorito?...</h1>
            <p>¡Bienvenido a la primer pagina web en comparar los autos deportivos mas caros del mundo!</p>
        </div>
    </div>

    <!-- Middle content section -->
    <div class="middle" style="background-color: #800000">
        <a name="contenido"></a>
        <div class="container">
            <div class="col-md-4 content">
                <h1>Nissan GT-R 2017</h1>
                <div align="center">
                   <img src="img/nissan.jpg" alt="" width="150 px" align="center"> 
                </div>
                     
                
               
                <p>Nissan desafió la tradición en cada etapa del desarrollo del Nissan GT-R. En lugar de un motor grande y pesado que requiere mucho combustible, el Nissan GT-R recibe su potencia de un V6 biturbo de 3.8 L y tamaño ideal que genera la increíble cantidad de 565 hp y 467 lbs-pie de torsión. 
                <div align="center">
                    <img src="img/gtr.jpg" alt="" width="350 px" >  
                </div>
                <br>
                 <div align="center">
                    <iframe width="350" height="315" src="https://www.youtube.com/embed/mGOEJJf28xc" frameborder="0" allowfullscreen></iframe>
                </div>
               <div class="to-tutorial">
                    <p><strong>Visita la pagina oficial para saber mas:</strong></p>
                    <a href="https://www.lamborghini.com/en-en/models/one-off/centenario" class="btn btn-success">Ir a La Pagina Oficial</a>
                </div>
            </div>

            <div class="col-md-4 content">
                <h1>Bugatti Chiron 2017</h1>
                <div align="center">
                   <img src="img/bugatti.jpg" alt="" width="250 px"> 
                </div>
                
                <p>La quintaesencia del último súper coche deportivo: ultra-moderno, increíblemente rápido, ágil y potente con un diseño estilísticamente exigente y los más altos niveles de confort. Más potente, más rápido, más lujoso y exclusivo súper producción de autos deportivos del mundo: el Bugatti Chiron.</p>

                <div align="center">
                    <img src="img/bugattichiron.jpg" alt="" width="350 px" height="212 px">  
                </div>
                <br>
                <div align="center">
                    <iframe width="350" height="315" src="https://www.youtube.com/embed/RdGVz104b3E" frameborder="0" allowfullscreen></iframe>
                </div>
               
                 <div class="to-tutorial">
                    <p><strong>Visita la pagina oficial para saber mas:</strong></p>
                    <a href="https://www.lamborghini.com/en-en/models/one-off/centenario" class="btn btn-success">Ir a La Pagina Oficial</a>
                </div>
            </div>

            <div class="col-md-4 content">
                <h1>Lambo Centenario</h1>
                 <div align="center">
                   <img src="img/logolambo.jpg" alt="" width="190 px" align="center"> 
                </div>
               
                <p>El mejor homenaje a los 100 años del nacimiento del señor Ferruccio Lamborghini, un hombre que logró crear una marca de clase mundial, y que siempre creyó que nada es imposible, lo que produce vehículos legendarios y extraordinarias que hicieron historia para los coches deportivos de alta calidad . </p>
                <div align="center">
                    <img src="img/lambo.jpg" alt="" width="350 px" height="212 px">  
                </div>
                <br>
                <div align="center">
                    <iframe width="350" height="315" src="https://www.youtube.com/embed/fVkTl_KAyS0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="to-tutorial">
                    <p><strong>Visita la pagina oficial para saber mas:</strong></p>
                    <a href="https://www.lamborghini.com/en-en/models/one-off/centenario" class="btn btn-success">Ir a La Pagina Oficial</a>
                </div>
                <br> 
                <br>       
            </div>
           
        
         <div class="form-group">
            <a name="comentarios"></a>
                                <label for="comments">Envianos tus comentarios:</label>
                                <textarea ng-model=" rCtrl.review.body " id="comments" cols="30" rows="10" class="form-control" placeholder="Comenta aqui"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="email">Teclea tu correo electronico</label>
                                <input ng-model="rCtrl.review.author"class="form-control" type="email" placeholder="email@example.com">
                            </div>
                            <div class="form-group pull-right">
                                <input class="form-control btn btn-primary" type="submit"  value="Enviar Comentario">
                            </div>
        </div>
       
    </div>



    <!-- Site footer -->
    
   <footer id="footer" class="clearfix">
    <a name="footer"></a>
      <div id="footer-widgets">

        <div class="container">

        <div id="footer-wrapper">

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div id="meta-3" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Informacion :</h4>
              <ul>
              <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
              <li><a href="privacypolicy.php"><i class="fa fa-link"></i>   Politicas De Piivacidad</a></li>
              <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contactanos</a></li>
             </ul>
</div>      </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-4">
                    <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                    <h4 class="widgettitle">Contactos Sociales :</h4>
                    <ul>
                    <li>
                     <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li>
                      <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                    <li>
                      <a href="http://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i> Youtube</a>
                   </li>
                </ul>
        </div>            </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-4">
              <div id="meta-4" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Suscribete :</h4>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">E-mail :</span>
                  <input class="form-control" placeholder="Escribe tu correo .." type="text">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Telefono  :</span>
                  <input class="form-control" placeholder="+96777000000" type="text">
                   <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Suscribete !</button>
                  </span>
                </div>
              </div>


              </div>
             </div> <!-- end widget1 -->

          
          </div> <!-- end .row -->

        </div> <!-- end #footer-wrapper -->

        </div> <!-- end .container -->
      </div> <!-- end #footer-widgets -->

      <div id="sub-floor">
        <div class="container">
          <div class="row">
            <div class="col-md-4 copyright">
             Copy right for El Gary Locote © 2015
            </div>
            
          </div> <!-- end .row -->
        </div>
      </div>

    </footer>


    <!-- Include jQuery and bootstrap JS plugins -->
    <script src="includes/jquery/jquery-2.1.0.min.js"></script>
    <script src="includes/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>